################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Struve_function/v14
/Struve_function/bin/Debug
/Struve_function/obj/Debug
/Struve_function/Properties
